useDynLib(sdcMicro)

import(robustbase)
importFrom(car, scatterplotMatrix, box.cox.powers, box.cox)
#importFrom(robustbase, covMcd)
importFrom(cluster, clara, pam, fanny)
importFrom(stats, kmeans, princomp)
importFrom(e1071, impute)
importFrom(MASS, loglm)

export(
    addNoise,
    dataGen,
    dRisk,
    dRiskRMD,
    dUtility,
    freqCalc,
    globalRecode,
    indivRisk,
    localSuppression,
    localSupp,
    microaggregation,
    plot.localSuppression,
    plotMicro,
    pram,
    print.freqCalc,
    print.indivRisk,
    print.localSuppression,
    print.micro,
    print.pram,
    print.suda2,
    summary.freqCalc,
    summary.micro,
    summary.pram,
    swappNum,
    topBotCoding,
    valTable,
    rankSwap,
    suda2,
    pram_strata,
    measure_risk,
    ldiversity,
    LocalRecProg, 
    # deprecated functions
    localSupp2,
    localSupp2Wrapper,
    LLmodGlobalRisk
)

S3method(print, indivRisk)
S3method(print, freqCalc)
S3method(print, localSuppression)
S3method(print, micro)
S3method(print, pram)
S3method(print, pram_strata)
S3method(print, measure_risk)
S3method(print, ldiversity)
S3method(print, suda2)
S3method(summary, freqCalc)
S3method(summary, micro)
S3method(summary, pram)
S3method(plot, localSuppression)
