useDynLib(sdcMicro)

import(robustbase)
importFrom(car, scatterplotMatrix, box.cox.powers, box.cox)
importFrom(robustbase, covMcd)
importFrom(cluster, clara, pam, fanny)
importFrom(stats, kmeans, princomp)
importFrom(e1071, impute)

export(
    addNoise,
    dataGen,
    dRisk,
    dRiskRMD,
    dUtility,
    freqCalc,
    globalRecode,
    indivRisk,
    localSupp,
    localSupp2,
    localSupp2Wrapper,
    microaggregation,
    plot.indivRisk,
    plot.localSupp2,
    plotMicro,
    pram,
    print.freqCalc,
    print.indivRisk,
    print.localSupp2,
    print.micro,
    print.pram,
    print.suda2,
    summary.freqCalc,
    summary.micro,
    summary.pram,
    swappNum,
    topBotCoding,
    valTable,
    rankSwap,
    suda2,
    pram_strata,
    measure_risk,
    measure_hier,
    measure_thres
    
)

S3method(print, indivRisk)
S3method(print, freqCalc)
S3method(print, localSupp2)
S3method(print, micro)
S3method(print, pram)
S3method(print, pram_strata)
S3method(print, measure_risk)
S3method(print, measure_hier)
S3method(print, measure_thres)
S3method(print, suda2)
S3method(summary, freqCalc)
S3method(summary, micro)
S3method(summary, pram)
S3method(plot, indivRisk)
S3method(plot, localSupp2)
